@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

.AddContainer{
   display: flex;
   justify-content: center;
   margin-top: 5%;
   width: 100%;
}
.AdminAddTitle{
    display: flex;
    justify-content: center;
}
.formContainer{
    position: relative;
    display: block;
    width: 330px;
    height: 300px;
    border-radius: 10px;
    background: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

form{
   width: 100%;
   display: block;
    height:370px !important;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 20px 50px 20px 50px;
}
label{
    margin-top: 10px;
    position: relative;
}
.inputbuttonedit{
    padding: 3px 8px 3px 8px;
    border-radius: 15px;

}


.inputbuttonedit:hover{
    background-color: #7a7d7b;
    color:cornsilk;
}


.tdContainer{
   margin-top: 5px;
  line-height: 50px;
  font-size: 12px;
  
}
.newquestioncontainer{
    margin-top: 30px;
    margin-bottom: 2px;
}
.choicesinput{
    margin-bottom: 15px;
    border-radius: 10px;
}